h3{
    text-align: center;
    border-radius: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 4px  rgb(11, 56, 235);
    color: black;
    
}
#story{
background-color: blue;
box-shadow: 2px 2px red;
color: white;
border-radius: ;
}
#pic{
    color: brown;
    background-color: rgb(205, 163, 163);
    box-shadow: 2px 2px brown;
}
.pola{
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
.con{
  padding: 10px;  
}

footer,a{
    text-align: center;
    font-size: smaller;
    font-family:cursive ;
}

