h3{
    text-align: center;
    border-radius: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 4px  rgb(11, 56, 235);
    color: black;
    
}
div{
background-color: blue;
box-shadow: 2px 2px red;
color: white;
border-radius: ;
}
        
img{
    width: 200px;
    border-radius: 20px ;

}
footer,a{
    text-align: center;
    font-size: smaller;
    font-family:cursive ;
}

